.root {
    -fx-font-family: "Arial";
    -fx-background-color: linear-gradient(to bottom, #ece9e6, #ffffff);
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: #333333;
}

.button {
    -fx-font-size: 14px;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #45a049;
}